extends layout

mixin floor(f)
  tr(class="userFloor")
    td #{f.story}
    td
      a(href="floor/#{f.name}") #{f.name}

block content
  style.
    td:first-child { width:5ex; text-align:right; padding-right: 1ex; }
  h1= title
  p Hello,&nbsp;
    input#username(type="text", value="#{username}")
    span &nbsp;
    span#ajaxresult
  p
    a(href="/missions") Missions
  table(style="width:100%;")
    tr
      td(colspan="2")
        select#newfloor(style="width:100%;")
          option
          each newFloor in newFloors
            option(value="#{newFloor}")= newFloor
    each f in userFloors
      +floor(f)
