extends layout

mixin floor(f)
  tr
    td #{f.story}
    td
      a(href="floor/#{f.id}") #{f.name}

block content
  h1= title
  p Welcome to #{title}
  p Hello,&nbsp;
    input#username(type="text", value="#{username}")
    span &nbsp;
    span#ajaxresult
  table
    tr
      td(colspan="2")
        input#newfloor(type="text", value="")
    each f in floors
      +floor(f)
