extends layout

mixin floor(f)
  tr
    td #{f.story}
    td
      a(href="floor/#{f.name}") #{f.name}

block content
  h1= title
  p Welcome to #{title}
  p Hello,&nbsp;
    input#username(type="text", value="#{username}")
    span &nbsp;
    span#ajaxresult
  table
    tr
      td(colspan="2")
        select#newfloor
          option
          each newFloor in newFloors
            option(value="#{newFloor}")= newFloor
    each f in userFloors
      +floor(f)
